@media (min-width: 576px) {
    .header__logo {
        display: block;
    }
    .subheader {
        &__icon {
            display: flex;
        }
        &__social {
            padding-right: 25px;
            width: 499px;
            transform: translateX(5.9%);
        }
    }
    .promo {
        &:before {
            width: 500px;
        }
        &__title {
            font-size: 35px;
        }
    }
    .modal {
        padding: 40px 40px 40px 40px;
        width: 300px;
        height: 140px;
        &__subtitle {
            margin-top: 10px;
            font-size: 24px;
        }
        &__descr {
            font-size: 16px;
        }
        &__close {
            top: 0px;
            right: -40px;
        }
    }
    .catalog {
        &__title {
            margin-left: 30px;
            &::before {
                left: 37%;
            }
            &::after {
                right: 37%;
            }
        }
        &__wrapper {
            width: 55%;
            margin: 10px auto 0 135px;
        }
        &-header {
            justify-content: center;
            &__btn {
                font-size: 16px;
            }
        }
    }
    .choice {
        margin-left: 10px;
        &__title {
            font-size: 28px;
            &::before {
                left: 14%;
            }
            &::after {
                right: 14%;
            }
        }
        &__descr {
            text-align: center;
            font-size: 14px;
        }
        &__wrapper {
            margin-top: 60px;
        }
    }
    .about {
        padding: 50px 0;
        margin-left: 15px;
        &__title {
            font-size: 35px;
            &::before {
                left: 32%;
            }
            &::after {
                right: 32%;
            }
        }
        &__wrapper {
            margin-top: 80px;
        }
        &__pic {
            margin-top: 60px;
        }
        &__img {
            max-width: 340px;
            height: 310px;
        }
        &__descr {
            width: 430px;
            font-size: 15px;
        }
        &__text {
            margin-right: 15px;
        }
        &__consultation {
            margin-right: 20px;
        }
    }
    .consultation {
        overflow: hidden;
        width: 430px;
        position: relative;
        left: 50%;
        transform: translateX(-50.2%);
        &__wrapper {
            width: 500px;
            &::after {
                width: 500px;
                height: 550px;
                transform: translateX(-51.8%)  translateY(-50%);
            }
        }
        &__divider_one {
            margin-bottom: 30px;
        }
        &__divider_two {
            margin-top: 30px;
        }
        &__title {
            font-size: 23px;
            width: 430px;
        }
        .feed-form {
            width: 417px;
        }
        &__callback {
            margin-top: 50px;
            font-size: 18px;
        }
        &__policy {
            width: 417px;
        }
        #checkbox-error {
            top: 24px;
            font-size: 13px;
        }
        &__mes {
            width: 400px;
        }
    }
    .contacts {
        padding: 30px 0 10px 0;
        margin-left: 7px;
        &__title {
            font-size: 35px;
            &::before {
                left: 16%;
            }
            &::after {
                right: 16%;
            }
        }
        &__item {
            width: 85%;
        }
        &__wrapper {
            align-items: center;
        }
        &__phone {
            font-size: 17px;
        }
        &__mail {
            font-size: 17px;
        }
        &__icon {
            font-size: 25px;
        }
    }
    .pageup {
        opacity: 0;
    }
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
    .promo {
        &:before {
            width: 680px;
        }
    }
    .menu {
        display: none;
    }
    .subheader {
        &__icon {
            display: flex;
        }
        &__social {
            padding-right: 35px;
            width: 680px;
            transform: translateX(0%);
        }
    }
    .consultation {
        margin-left: 0;
        &__title {
            margin-left: 0;
        }
        &__wrapper {
            width: 100%;
            &::after {
                width: 102.9%;
                transform: translateX(-49.8%) translateY(-50%);
            }
        }
        .feed-form {
            margin-left: 0;
        }
        &__mes {
            margin-left: 0;
        }
    }
    .header {
        &__link {
            font-size: 15px;
            margin-right: 35px;
        }
        &__logo {
            display: block;
        }
        &__lists {
            display: flex;
        }
    }
    .choice {
        &__title {
            font-size: 35px;
            margin-left: 0;
            &::before {
                left: 15%;
            }
            &::after {
                right: 15%;
            }
        }
        &__wrap {
            margin-left: 0px;
        }
        &__wrapper {
            margin-top: 60px;
        }
        &__descr {
            text-align: center;
        }
    }
    .catalog {
        &__title {
            font-size: 35px;
            margin-left: 0;
            &:before {
                left: 40%;
            }
            &:after {
                right: 40%;
            }
        }
        &__header {
            justify-content: center;
            &-btn {
                font-size: 17px;
            }
        }
        &__wrapper {
            width: 86%;
            margin: 10px auto 0 56px;
        }
    }
    .about {
        padding: 70px 0;
        margin-left: 0px;
        &__title {
            &:before {
                left: 37%;
            }
            &:after {
                right: 37%;
            }
        }
        &__text {
            margin-right: 0;
        }
        &__consultation {
            margin-right: 0;
        }
        &__descr {
            width: 490px;
        }
    }
    .contacts {
        &__title {
            font-size: 35px;
            margin-left: 0;
            &::before {
                left: 22%;
            }
            &::after {
                right: 22%;
            }
        }
        &__item {
            width: 100%;
        }
        &__wrapper {
            margin: 40px auto 0;
            width: 590px;
        }
    }
    .pageup {
        opacity: 1;
        right: 48px;
    }
}

@media (min-width: 992px) {
    .hamburger {
        display: none;
    }
    .menu {
        display: none;
    }
    .header {
        &__link {
            font-size: 20px;
            margin-right: 40px;
        }
        &__logo {
            width: 120px;
            height: 100px;
        }
    }
    .subheader {
        &__social {
            padding-right: 40px;
            width: 850px;
            transform: translateX(0%);
        }
        &__phone {
            margin-right: 30px;
            margin-left: 0;
            font-size: 18px;
        }
    }
    .pageup {
        right: 5px;
    }
    .promo {
        &__title {
            font-size: 40px;
        }
        &:before {
            width: 850px;
        }
    }
    .catalog {
        padding: 60px 0 20px 0;
        &__title {
            font-size: 35px;
            &::before {
                left: 41%;
            }
            &::after {
                right: 41%;
            }
        }
        &__wrapper {
            margin: 30px auto 0 140px;
            width: 69%;
        }
        &-header {
            margin-top: 50px;
            justify-content: center;
            &__btn {
                margin-right: 20px;
                padding: 10px 10px 10px 10px;
                font-size: 19px;
            }
        }
    }
    .choice {
        padding: 60px 0 0 0;
        &__title {
            margin-bottom: 100px;
            font-size: 35px;
            &::after {
                right: 21%;
            }
            &::before {
                left: 21%;
            }
        }
        &__wrap {
            width: 840px;
        }
        &__wrapper {
            margin: 45px auto 0;
            flex-direction: row;
            justify-content: space-around;
        }
        &__text {
            order: 2;
        }
        &__descr {
            font-size: 17px;
        }
        &__img {
            order: none;
            margin-top: 40px;
            max-width: 318px;
        }
    }
    .about {
        padding: 60px 0 0 0;
        &__title {
            font-size: 35px;
            &::before {
                left: 40%;
            }
            &::after {
                right: 40%;
            }
        }
        &__wrapper {
            flex-direction: row;
            align-items: none;
            margin: 70px auto 0;
            width: 850px;
        }
        &__pic {
            margin: 0 auto;
        }
        &__img {
            max-width: 355px;
            height: 440px;
        }
        &__descr {
            width: 360px;
            font-size: 14px;
        }
    }
    .consultation {
        padding: 100px 0 60px 0;
        overflow: initial;
        width: 100%;
        left: 0;
        transform: translate(0, 0);
        &__wrapper {
            &::after {
                width: 105.1%;
                transform: translateX(-49.99%) translateY(-50%);
            }
        }
        &__title {
            font-size: 25px;
            width: initial;
        }
        &__divider_one {
            margin-bottom: 60px;
        }
        &__divider_two {
            margin-top: 60px;
        }
        &__divider {
            width: 810px;
        }
        .feed-form {
            margin: 40px auto 0;
            width: 490px;
            input {
                height: 45px;
            }
        }
        &__mes {
            margin-top: 40px;
            width: 100%;
            display: flex;
            align-items:center;
            justify-content: center;
        }
        &__button {
            padding: 15px;
        }
        &__social {
            margin-top: 0;
        }
        &__callback {
            margin-top: 0;
            margin-right: 20px;
            font-weight: 600;
        }
        &__policy {
            width: 490px;
        }
        label.error {
            font-size: 14px;
        }
        #checkbox-error {
            top: 25px;
            font-size: 14px;
        }
    }
    .contacts {
        padding: 20px 0 10px 0;
        &__title {
            font-size: 35px;
            &::before {
                left: 27%;
            }
            &::after {
                right: 27%;
            }
        }
        &__wrapper {
            flex-direction: row;
            margin-top: 70px;
            align-items: initial;
            width: initial;
        }
        &__item {
            width: 45%;
            &:nth-child(2) {
                margin-top: 0px;
            }
        }
        &__subheader {
            font-size: 23px;
        }
        &__divider {
            margin: 10px 0 30px 0;
        }
        &__soc-icon {
            font-size: 16px;
        }
        &__phone {
            font-size: 20px;
        }
        &__mail {
            font-size: 20px;
        }
        &__social {
            margin-top: 30px;
        }
        &__icon {
            margin-right: 20px;
            font-size: 30px;
        }
        &__addr {
            font-size: 18px;
        }
    }
}

@media (min-width: 1200px) {
    .subheader {
        &__social {
            padding-right: 90px;
            width: 110.8%;
            transform: translateX(-4.9%);
        }
    }
    .hamburger {
        display: none;
    }
    .menu {
        display: none;
    }
    .promo {
        &:before {
            width: 1075px;
        }
    }
    .choice {
        &__title {
            &::before {
                left: 25%;
            }
            &::after {
                right: 25%;
            }
        }
        &__img {
            order: none;
            margin-top: 40px;
            max-width: 450px;
            height: 250px;
        }
        &__wrap {
            width: initial;
        }
        &__wrapper {
            justify-content: space-between;
        }
    }
    .about {
        &__title {
            &::before {
                left: 41%;
            }
            &::after {
                right: 41%;
            }
        }
        &__wrapper {
            width: initial;
        }
        &__img {
            max-width: 410px;
            height: 470px;
        }
        &__descr {
            width: 490px;
        }
    }
    .contacts {
        &__title {
            &::before {
                left: 30%;
            }
            &::after {
                right: 30%;
            }
        }
    }
    .consultation {
        &__wrapper {
            &::after {
                width: 110.8%;
            }
        }
        &__divider {
            width: 950px;
        }
    }
    .pageup {
        right: 15px;
    }
    .catalog {
        &__title {
            &:before {
                left: 42%;
            }
            &:after {
                right: 42%;
            }
        }
        &__wrapper {
            margin: 30px auto 0 53px;
            width: 91%;
        }
        &-header {
            justify-content: flex-start;
        }
    }
}

@media (min-width: 1440px) {
    .hamburger {
        display: none;
    }
    .subheader {
        &__social {
            padding-right: 150px;
            width: 1399px;
            transform: translateX(-7.8%);
        }
    }
    .menu {
        display: none;
    }
    .promo {
        &:before {
            width: 1400px;
        }
    }
    .catalog {
        &__title {
            &::before {
                left: 44%;
            }
            &::after {
                right: 44%;
            }
        }
        &__wrapper {
            width: 1179px;
            margin: 30px auto 0 10px;
        }
    }
    .choice {
        &__title {
            &::after {
                right: 29%;
            }
            &::before {
                left: 29%;
            }
        }
    }
    .about {
        &__title {
            &::before {
                left: 42%;
            }
            &::after {
                right: 42%;
            }
        }
    }
    .contacts {
        &__title {
            line-height: 20px;
            &::before {
                left: 33%;
            }
            &::after {
                right: 33%;
            }
        }
    }
    .consultation {
        &__wrapper {
            &::after {
                width: 1440px;
                transform: translateX(-50%) translateY(-50%);
            }
        }
        &__divider {
            width: 1180px;
        }
    }
}