@media (min-width: 576px) {
    .header__logo {
        display: block;
    }
    .subheader {
        &__icon {
            display: flex;
        }
        &__social {
            padding-right: 25px;
        }
    }
    .promo {
        &__title {
            font-size: 35px;
        }
    }
    .modal {
        padding: 40px 40px 40px 40px;
        width: 345px;
        height: 175px;
        &__subtitle {
            margin-top: 35px;
            font-size: 24px;
        }
        &__descr {
            font-size: 16px;
        }
        &__close {
            top: 5px;
            right: 5px;
        }
    }
    .catalog {
        &__wrapper {
            width: 55%;
        }
        &-header {
            justify-content: center;
            &__btn {
                font-size: 16px;
            }
        }
    }
    .choice {
        &__title {
            font-size: 28px;
            &::before {
                left: 14%;
            }
            &::after {
                right: 14%;
            }
        }
        &__descr {
            text-align: left;
            font-size: 14px;
        }
        &__wrapper {
            margin-top: 60px;
        }
    }
    .about {
        padding: 50px 0;
        &__title {
            font-size: 35px;
            &::before {
                left: 32%;
            }
            &::after {
                right: 32%;
            }
        }
        &__wrapper {
            margin-top: 80px;
        }
        &__pic {
            margin-top: 60px;
        }
        &__img {
            max-width: 340px;
            height: 310px;
        }
        &__descr {
            width: 430px;
            font-size: 15px;
        }
    }
    .consultation {
        &__divider_one {
            margin-bottom: 30px;
        }
        &__divider_two {
            margin-top: 30px;
        }
        &__title {
            font-size: 23px;
        }
        .feed-form {
            width: 417px;
            margin: 20px auto 0;
        }
        &__callback {
            margin-top: 50px;
            font-size: 18px;
        }
        &__policy {
            width: 417px;
            font-size: 14px;
            &-link {
                font-size: 14px;
            }
        }
        #checkbox-error {
            top: 24px;
            font-size: 13px;
        }
        &__mes {
            width: 400px;
            margin: 0 auto;
        }
        .modal {
            width: 311px;
            height: 100px;
            &__subtitle {
                margin-top: 10px;
            }
        }
    }
    .contacts {
        padding: 30px 0 10px 0;
        &__title {
            font-size: 35px;
            &::before {
                left: 16%;
            }
            &::after {
                right: 16%;
            }
        }
        &__item {
            width: 85%;
        }
        &__wrapper {
            align-items: center;
        }
        &__phone {
            font-size: 17px;
        }
        &__mail {
            font-size: 17px;
        }
        &__icon {
            font-size: 25px;
        }
    }
    .rights {
        &__item {
            @include font (12, 500, #fff);
        }
    }
    .thanks {
        &__modal {
            width: 400px;
            height: 240px;
            &-subtitle {
                font-size: 26px;
            }
            &-descr {
                margin-top: 20px;
                font-size: 20px;
            }
        }
        &__logo {
            width: 70px;
            height: 70px;
        }
    }
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
    .menu {
        display: none;
    }
    .subheader {
        &__social {
            padding-right: 35px;
        }
    }
    .consultation {
        .feed-form {
            margin: 40px auto 0;
        }
        &__mes {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        &__social {
            margin-top: 0;
        }
        &__callback {
            margin-top: 0;
        }
        .modal {
            width: 345px;
            height: 175px;
            &__subtitle {
                margin-top: 30px;
                font-size: 29px;
            }
            &__descr {
                font-size: 17px;
            }
        }
    }
    .header {
        &__link {
            font-size: 15px;
            margin-right: 35px;
        }
        &__logo {
            display: block;
            width: 100px;
            height: 85px;
            position: relative;
            left: -40px;
        }    
        &__lists {
            display: flex;
        }
    }
    .choice {
        &__title {
            font-size: 35px;
            &::before {
                left: 15%;
            }
            &::after {
                right: 15%;
            }
        }
        &__wrapper {
            margin-top: 60px;
        }
        &__descr {
            text-align: left;
        }
    }
    .catalog {
        &__header {
            justify-content: center;
            &-btn {
                font-size: 17px;
            }
        }
        &__wrapper {
            width: 86%;
            margin: 10px auto 0;
        }
    }
    .about {
        padding: 70px 0 30px 0;
        &__title {
            &:before {
                left: 37%;
            }
            &:after {
                right: 37%;
            }
        }
        &__descr {
            width: 490px;
        }
    }
    .contacts {
        &__title {
            font-size: 35px;
            margin-left: 0;
            &::before {
                left: 22%;
            }
            &::after {
                right: 22%;
            }
        }
        &__item {
            width: 100%;
        }
        &__wrapper {
            margin: 40px auto 0;
            width: 100%;
        }
    }
}

@media (min-width: 992px) {
    .header {
        &__link {
            font-size: 20px;
            margin-right: 40px;
        }
        &__logo {
            width: 100px;
            height: 85px;
            position: relative;
            left: -41px;
        }
    }
    .subheader {
        &__social {
            padding-right: 40px;
        }
        &__phone {
            margin-right: 30px;
            font-size: 18px;
        }
    }
    .promo {
        &__title {
            font-size: 40px;
        }
    }
    .catalog {
        padding: 90px 0 20px 0;
        &__wrapper {
            margin: 30px auto 0;
            width: 69%;
        }
        &-header {
            margin-top: 50px;
            justify-content: center;
            &__btn {
                margin-right: 20px;
                padding: 10px 10px 10px 10px;
                font-size: 19px;
            }
        }
    }
    .choice {
        padding: 60px 0 0 0;
        &__title {
            margin-bottom: 100px;
            font-size: 35px;
            &::after {
                right: 21%;
            }
            &::before {
                left: 21%;
            }
        }
        &__wrapper {
            margin: 45px auto 0;
            flex-direction: row;
            justify-content: space-around;
        }
        &__text {
            order: 2;
        }
        &__descr {
            font-size: 17px;
        }
        &__img {
            order: none;
            margin-top: 40px;
            max-width: 318px;
        }
    }
    .about {
        padding: 60px 0 0 0;
        &__title {
            font-size: 35px;
            &::before {
                left: 40%;
            }
            &::after {
                right: 40%;
            }
        }
        &__wrapper {
            flex-direction: row;
            align-items: none;
            margin: 70px auto 0;
            width: 850px;
        }
        &__pic {
            margin: 0 auto;
        }
        &__img {
            max-width: 355px;
            height: 440px;
        }
        &__descr {
            width: 360px;
            font-size: 14px;
        }
    }
    .consultation {
        padding: 100px 0 60px 0;
        &__title {
            font-size: 25px;
            width: initial;
        }
        &__divider_one {
            margin-bottom: 60px;
        }
        &__divider_two {
            margin-top: 60px;
        }
        &__divider {
            width: 810px;
        }
        .feed-form {
            margin: 40px auto 0;
            width: 490px;
            input {
                height: 45px;
            }
        }
        &__button {
            padding: 15px;
        }
        label.error {
            font-size: 14px;
        }
        #checkbox-error {
            top: 25px;
            font-size: 14px;
        }
        .modal {
            width: 450px;
            height: 155px;
            &__subtitle {
                margin-top: 42px;
                font-size: 29px;
            }
            &__descr {
                font-size: 17px;
            }
        }
        &__mes {
            width: 670px;
        }
    }
    .contacts {
        padding: 20px 0 10px 0;
        &__title {
            font-size: 35px;
            &::before {
                left: 27%;
            }
            &::after {
                right: 27%;
            }
        }
        &__wrapper {
            flex-direction: row;
            margin-top: 70px;
            align-items: initial;
        }
        &__item {
            width: 45%;
            &:nth-child(2) {
                margin-top: 0px;
            }
        }
        &__subheader {
            font-size: 23px;
        }
        &__divider {
            margin: 10px 0 30px 0;
        }
        &__soc-icon {
            font-size: 16px;
        }
        &__phone {
            font-size: 20px;
        }
        &__mail {
            font-size: 20px;
        }
        &__social {
            margin-top: 30px;
        }
        &__icon {
            margin-right: 20px;
            font-size: 30px;
        }
        &__addr {
            font-size: 18px;
        }
    }
    .policy {
        &__wrapper {
            padding: 30px 30px;
            width: 55%;
        }
        h1 {
            font-size: 25px;
        }
        h2 {
            font-size: 20px;
        }
        p {
            padding: 0 20px 0 40px;
            line-height: 30px;
        }
    }
}

@media (min-width: 1200px) {
    .subheader {
        &__social {
            padding-right: 40px;
        }
    }
    .header {
        &__logo {
            position: relative;
            left: -100px;
        }
    }
    .choice {
        &__title {
            &::before {
                left: 25%;
            }
            &::after {
                right: 25%;
            }
        }
        &__img {
            order: none;
            margin-top: 40px;
            max-width: 450px;
            height: 250px;
        }
        &__wrap {
            width: initial;
        }
        &__wrapper {
            justify-content: space-between;
        }
    }
    .about {
        &__title {
            &::before {
                left: 41%;
            }
            &::after {
                right: 41%;
            }
        }
        &__wrapper {
            width: initial;
        }
        &__img {
            max-width: 410px;
            height: 470px;
        }
        &__descr {
            width: 490px;
        }
    }
    .contacts {
        &__title {
            &::before {
                left: 30%;
            }
            &::after {
                right: 30%;
            }
        }
    }
    .consultation {
        &__divider {
            width: 950px;
        }
        .modal {
            width: 590px;
            height: 200px;
            &__subtitle {
                margin-top: 65px;
                font-size: 32px;
            }
            &__descr {
                font-size: 20px;
            }
        }
    }
    .catalog {
        &__wrapper {
            margin: 30px auto 0 53px;
            width: 91%;
        }
        &-header {
            justify-content: flex-start;
            margin: 50px 0 0 55px;
        }
    }
}

@media (min-width: 1440px) {
    .header {
        &__logo {
            position: relative;
            left: -105px;
        }
    }
    .catalog {
        &__wrapper {
            width: 1179px;
            margin: 30px auto 0 10px;
        }
        &-header {
            margin: 50px 0 0 15px;
        }
    }
    .choice {
        &__title {
            &::after {
                right: 29%;
            }
            &::before {
                left: 29%;
            }
        }
    }
    .about {
        &__title {
            &::before {
                left: 42%;
            }
            &::after {
                right: 42%;
            }
        }
    }
    .contacts {
        &__title {
            line-height: 20px;
            &::before {
                left: 33%;
            }
            &::after {
                right: 33%;
            }
        }
    }
    .consultation {
        &__divider {
            width: 1180px;
        }
        .modal {
            width: 590px;
            height: 200px;
            &__subtitle {
                margin-top: 65px;
                font-size: 32px;
            }
            &__descr {
                font-size: 22px;
            }
        }
    }
}