@mixin font ($size, $weight, $color: #28282d) {
    font-size: $size+px;
    font-weight: $weight;
    color: $color;
}

%cub {
    content: "";
    position: absolute;
    display: block;
    width: 20px;    
    height: 5px;
    border-radius: 100%;
    background-color: #fff;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 4px 4px 0px rgba(0,0,0,0.3);
}