@import "libs/normalize";
@import "libs/fonts";
@import "libs/slick";

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin: 0;
}
h2 {
    margin: 0;
}
h3 {
    margin: 0;
}
ul {
    margin: 0;
}
.container {
    width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 320px) {
    .container {
        max-width: 300px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 556px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 680px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 850px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1180px;
    }
}

@import 'blocks/promo';
@import 'blocks/menu';
@import 'blocks/catalog';
@import 'blocks/choice';
@import 'blocks/consultation';
@import 'blocks/about';
@import 'blocks/contacts';
@import 'base/media';