.catalog {
    padding: 35px 0;
    &__title {
        position: relative;
        display: block;
        padding: 10px;
        text-align: center;
        @include font (33, 600);
        &::after {
            @extend %cub;
            right: 25%;
            width: 30px;
        }
        &::before {
            @extend %cub;
            left: 25%;
            width: 30px;
        }
    }
    &-header {
        margin-top: 30px;
        display: flex;
        justify-content: flex-start;
        &__btn {
            margin-right: 15px;
            display: inline-block;
            padding: 0px 10px 10px 10px;
            @include font (14, 600, rgba(0, 0, 0, .3));
            cursor: pointer;
            transition: color .3s, border-radius .3s;
            &_active {
                color: rgba(0, 0, 0, 1);
                border-bottom: 5px solid #869f3f;
                border-radius: 100%;
                animation: fade 1s;
            }
        }
    }
    &__wrapper {
        margin: 10px auto 0;
        display: none;
        flex-flow: wrap;
        width: 100%;
        transition: display 1s;
        &_active {
            display: flex;
            animation: fade 1s;
        }
    }
    &-item {
        position: relative;
        margin: 20px 10px 0 10px;
        box-sizing: border-box;
        border-radius: 30px;
        width: 275px;
        height: 490px;
        border: 1px solid rgba(0, 0, 0, .5);
        padding: 20px 20px 26px 20px;
        overflow: hidden;
        transition: all .2s;
        &:hover {
            box-shadow: 10px 10px 10px -10px black;
        }
        &:focus {
            outline: none;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &__content {
            width: 50%;
            transform: translateX(-110%);
            transition: 0.5s all;
            text-align: center;
            &_active {
                transform: translateX(0%);
                margin-right: 0;
            }
        }
        &__block {
            width: 50%;
            box-sizing: border-box;
            margin-left: 20px;
            transform: translateX(0%);
            padding-right: 20px;
            transition: 0.5s all;
            margin-bottom: 0;
            &_active {
                transform: translateX(-100%);
                margin-left: 0;
            }
        }
        &__list {
            padding-left: 0;
            list-style-type: none;
            width: 220px;
            li {
                padding-left: 15px;
                position: relative;
                @include font (14, 400, #555555);
                margin-bottom: 10px;
                &:before {
                    content: '';
                    background: url('../img/tea_i.png');
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    left: -8px;
                    top: 0px;
                }
                &:nth-child(1) {
                    text-align: justify;
                    margin-bottom: 15px;
                    padding-left: 10px;
                    &:before {
                        display: none;
                    }
                }
            }
        }
        &__back {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(calc(-50% - 19px));
            display: block;
            padding: 5px 20px;
            @include font (14, 500);
            text-decoration: underline;
            text-transform: uppercase;
            border-radius: 5px;
            border: 1px solid #28282d;
            background-color: #28282d;
            color: #fff;
            transition: all .2s;
            &:hover {
                color: #28282d;
                background-color: #fff;
                text-decoration: none;
            }
            &:focus {
                outline: none;
            }
        }
        &__img {
            display: block;
            position: relative;
            margin: 0 auto;
            max-width: 100%;
            height: 150px;
            &-back {
                position: absolute;
                top: 0;
                left: 50%;
                transform:translateX(-50%);
                max-width: 100%;
                height: 150px;
                opacity: 0;
                transition: opacity .4s;
                &:hover {
                    opacity: 1;
                }
            }
        }
        &__subtitle {
            margin-top: 15px;
            text-align: center;
            @include font (15, 700);
        }
        &__descr {
            width: 230px;
            margin: 10px auto 0;
            @include font (13, 400);
            line-height: 20px;
            text-align: justify;
        }
        &__link {
            display: inline-block;
            margin-top: 10px;
            padding: 5px 20px;
            @include font (12, 500);
            text-decoration: underline;
            text-align: center;
            text-transform: uppercase;
            border-radius: 5px;
            border: 1px solid #28282d;
            background-color: #28282d;
            color: #fff;
            transition: all .2s;
            &:hover {
                color: #28282d;
                background-color: #fff;
                text-decoration: none;
            }
            &:focus {
                outline: none;
            }
        }
        hr {
            background-color: #e8e8e8;
            margin-top: 15px;
            margin-bottom: 10px;
            border-bottom: none;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__min {
            @include font (13, 400, #555555);
        }
        &__prices {
            position: relative;
            width: 100%;
        }
        &__wrap {
            margin-top: 18px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
        &__buy {
            text-transform: uppercase;
            text-decoration: none;
            @include font (14, 700);
            border: solid 1px #6e9e6e;
            padding: 8px 20px;
            border-radius: 5px;
            transition: color .3s, background-color .3s ;
            &:hover {
                background-color: #869f3f;
                color: #fff;
            }
            &:focus {
                outline: none;
            }
        }
        &__dropdown {
            padding: 4px;
            display: flex;
            align-items: flex-end;
            width: 120px;
            border-radius: 5px;
            @include font (14, 600);
            &:focus {
                outline: none;
            }
        }
    }
}

.slick-prev, .slick-next  {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: -85px;
    border: none;
    background-color: #28282d;
    color: #fff;
    font-size: 25px;
    border-radius: 100%;
    padding: 15px 15px;
    cursor: pointer;
    border: 1px solid #28282d;
    transition: color .2s, background-color .2s;
    &:focus {
        outline: none;
    }
    &:hover {
        color: #28282d;
        background-color: #fff;
    }
}
.slick-next  {
    right: -66px;
    left: auto;
    transform: rotate(90deg);
}
.slick-prev  {
    transform: rotate(-90deg);
}
.slick-list {
    height: 530px;
}
.slick-dots {
    margin: 0 auto;
    transform: translateX(-12%);
    text-align: center;
    display: flex !important; // поставить кнопки в ряд
    justify-content: center; // выровнять по центру
    list-style: none; // убираем черные маркеры
}
.slick-dots button {
    background: rgba(0, 0, 0, .3); // цвет фона
    border: none; // без рамки
    border-radius: 50%; // радиус закругления
    height: 15px; // высота точки
    width: 15px; // ширина точки
    margin: 5px; // отступы между точками
    outline: none; // убираем обводку
    font-size: 0;
}
.slick-dots li[class="slick-active"] button {
    background: #fff;
    border: 2px solid black;
    padding: 10px;
}

@keyframes fade {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
};