.consultation {
    position: relative;
    min-height: 300px;
    padding: 100px 0 92px 0;
    z-index: 1;
    &::after {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        content: '';
        background: url('../img/bbb.png') center (center/cover) no-repeat;
        filter: brightness(50%);
        z-index: -1;
    }
    &__descr {
        margin-top: 30px;
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        color: #fff;
        border: none;
        text-align: center;
        margin-bottom: 15px;
    }
    &__title {
        color: #fff;
    }
    &__button {
        padding: 15px;
        background-color: tomato;
        color: #fff;
    }
}
.feed-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 300px;
    input {
        height: 50px;
        border-radius: 5px;
        background-color: #ffffff;
        margin-bottom: 15px;
        border: none;
        padding: 0 20px;
        color: #4b4b4b;
        font-size: 14px;
        font-weight: 300;
        &:nth-child(2) {
            margin-bottom: 20px;
        }
    }
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0, .56);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 140px;
    background-color: #f2f2f2;
    padding: 38px 40px 40px 40px;
    &__close {
        position: absolute;
        top: 0;
        right: -40px;
        font-size: 41px;
        line-height: 21px;
        color: red;
        cursor: pointer;
    }
    &__subtitle {
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
    &__descr {
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        border: none;
        text-align: center;
        margin-bottom: 15px;
    }
}

.pageup {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, .7);
    text-align: center;
    border-radius: 100%;
    &__icon {
        display: block;
        text-decoration: none;
        transform: rotate(-90deg) translateX(-23%);
        color: #fff;
        font-weight: 900;
        font-size: 20px;
    }
}

#thanks {
    display: none;
}