.consultation {
    position: relative;
    min-height: 300px;
    padding: 40px 0 50px 0;
    z-index: 1;
    &__descr {
        margin-top: 30px;
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        color: #fff;
        border: none;
        text-align: center;
        margin-bottom: 15px;
        font-size: 13px;
        font-weight: 600;
        text-shadow: 0px 4px 3px rgba(218, 42, 42, 0.4),
             0px 8px 13px rgba(214, 28, 28, 0.1),
             0px 18px 23px rgba(214, 27, 27, 0.1);
        text-align: center;
    }
    &__wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    &__title {
        display: block;
        line-height: 30px;
        @include font (20, 600, #fff);
        text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
        text-align: center;
    }
    &__button {
        padding: 10px;
        @include font (17, 600, #fff);
        background-color: #1f3b47;
        border-radius: 2px;
        text-transform: uppercase;
        cursor: pointer;
        transition: .3s;
        border: none;
        border-left: 2px solid #fff;
        border-right: 2px solid #1f3b47;
        box-sizing: border-box;
        background-position: 0 0, 0 100% ;
        background-repeat: no-repeat;
        background-size: 100% 2px;
      
        background-image: linear-gradient(to right, #fff 50%, #1f3b47 0%), linear-gradient(to right, #fff 0%, #1f3b47 100%);
        &:focus {
            outline: none;
        }
        &:hover {
            background-color: #fff;
            color: #28282d;
        }
    }
    &__callback {
        margin-top: 60px;
        @include font (18, 400, #fff);
        text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    }
    &__social {
        margin-top: 20px;
    }
    &__icon {
        margin-right: 20px;
        text-decoration: none;
        @include font (30, 400, #fff);
        transition: .3s;
        &:hover {
            color: #f6921e;
        }
    }
    &__divider {
        margin: 0 auto;
        width: 100%;
        height: 2px;
        background-color: #fff;
        box-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
        &_one {
            margin-bottom: 60px;
        }
        &_two {
            margin-top: 60px;
        }
    }
    &__checkbox {
        display: block;
        width: 15px;
        margin-right: 10px;
    }
    &__input {
        height: 45px;
        border-radius: 5px;
        background-color: #ffffff;
        margin-bottom: 15px;
        border: none;
        padding: 0 20px;
        color: #4b4b4b;
        font-size: 18px;
        font-weight: 300;
        &:nth-child(2) {
            margin-bottom: 20px;
        }
        &:focus {
            outline: none;
        }
    }
    &__policy {
        position: relative;
        margin-top: 15px;
        height: 20px;
        @include font (11, 500, #fff);
        line-height: 18px;
        display: flex;
        align-items: center;
        width: 300px;
        &-link {
            font-size: 11px;
            color: #fff;
        }
        #checkbox-error {
            position: absolute;
            font-size: 13px;
            top: 35px;
        }
    }
}
.feed-form {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 290px;
    .error {
        border: 1px solid red;
    }
    label.error {
        display: block;
        border: none;
        text-align: center;
        margin-bottom: 15px;
    }
    #check {
        height: 14px;
    }
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: rgba(0,0,0, .7);
    z-index: 3;
}
.modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 290px;
    height: 200px;
    background-color: rgba(0, 0, 0, .9);
    padding: 15px 15px 15px 15px;
    z-index: 3;
    border-radius: 10px;
    box-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    &__close {
        z-index: 3;
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 41px;
        line-height: 21px;
        color: #fff;
        cursor: pointer;
    }
    &__subtitle {
        margin-top: 55px;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
    &__descr {
        margin-top: 20px;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
    }
}
#thanks {
    display: block;
}