.header {
    height: 50px;
    background-color: #28282d;
    position: fixed !important;
    z-index: 2;
    width: 100%;
    &__wrapper{
        height: 50px;
        display: flex;
        position: relative;
    }
    &__logo {
        display: none;
        position: relative;
        z-index: 2;
        width: 50px;
        height: 50px;
        &-img {
            width: 100%;
            height: 100%;
        }
    }
    &__lists {
        display: none;
        margin: 15px 0 0 0;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        list-style-type: none;
    }
    &__link {
        margin-right: 40px;
        @include font (20, 500, #fff);
        text-decoration: none;
        transition: all .3s;
        &:hover {
            color: #f6921e;
        }
    }
}
.subheader {
    height: 50px;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 1;
    &__social {
        background-color: rgba(40, 40, 45, .6);
        padding-right: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        box-sizing: border-box;
        width: 106%;
        height: 50px;
        transform: translateX(-2.9%);
    }
    &__icon {
        display: none;
        margin-left: 30px;
        text-decoration: none;
        color: white;
        font-size: 25px;
        transition: color .3s;
        cursor: pointer;
        &:hover {
            color: #f6921e;
        }
    }
    &__call-icon {
        margin-right: 5px;
        @include font (14, 600, #fff);
    }
    &__wrapper {
        display: flex;
        align-items: center;
        margin-right: 40px;
    }
    &__phone {
        margin: 0 15px 0 15px;
        display: block;
        text-decoration: none;
        @include font (14, 600, #fff);
        transition: all .3s;
        &:hover {
            color: #f6921e;
        }
    }
}

.promo {
    position: relative;
    width: 100%;
    &::before {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        display: block;
        width: 320px;
        height: 100%;
        background-color: rgba(40, 40, 45, .5);
        z-index: 0;
    }
    &__item {
        position: fixed;
        display: block;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }
}