.header {
    height: 50px;
    background-color: #28282d;
    position: fixed;
    z-index: 2;
    width: 100vw;
    &__wrapper{
        height: 50px;
        display: flex;
        position: relative;
    }
    &__logo {
        display: none;
        position: relative;
        z-index: 2;
        width: 50px;
        height: 50px;
        &-img {
            width: 100%;
            height: 100%;
        }
    }
    &__lists {
        display: none;
        margin: 15px 0 0 0;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        list-style-type: none;
    }
    &__link {
        margin-right: 40px;
        @include font (20, 500, #fff);
        text-decoration: none;
        transition: all .3s;
        &:hover {
            color: #f6921e;
        }
    }
}
.subheader {
    height: 50px;
    background-color: rgba(40, 40, 45, .5);
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 1;
    &__social {
        padding-right: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        box-sizing: border-box;
        width: 100%;
        height: 50px;
    }
    &__icon {
        display: none;
        margin-left: 30px;
        text-decoration: none;
        color: white;
        font-size: 25px;
        transition: color .3s;
        cursor: pointer;
        &:hover {
            &:nth-child(3) {
                color: #3b5998;
            }
            &:nth-child(4) {
                color: #e8456a;
            }
            &:nth-child(5) {
                color: #2399d6;
            }
        }
    }
    &__call-icon {
        margin-right: 5px;
        @include font (14, 600, #fff);
    }
    &__wrapper {
        display: flex;
        align-items: center;
        margin-right: 40px;
    }
    &__phone {
        margin: 0 0 0 20px;
        display: block;
        text-decoration: none;
        @include font (14, 600, #fff);
        transition: all .3s;
        &:hover {
            color: #f6921e;
        }
    }
}

.promo {
    max-height: 100vh;
    width: 100%;
    overflow: hidden;
    &__video {
        position: relative;
        z-index: -1;
        width: 100%;
        height: 100%;
        filter: brightness(70%);
    }
    &__background {
        background: url('../img/cover.jpg') center (center / cover) no-repeat;
        top: 0;
        height: 100vh;
        filter: brightness(70%);
        z-index: 1;
    }
    &__item {
        display: none;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        object-fit: cover;
    }
    &__title {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translateY(-50%) translateX(50%);
        text-align: center;
        z-index: 0;
        @include font (35, 600, #fff);
        text-transform: uppercase;
    }
}