.slick-prev, .slick-next  {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -66px;
    border: none;
    background-color: transparent;
    font-size: 40px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    &:focus {
        outline: none;
    }
}
.slick-next  {
    right: -66px;
    left: auto;
}